@font-face {
    font-family: 'primetime';
    src:url('../font/primetime.woff') format('woff'),
        url('../font/primetime.svg#primetime') format('svg'),
        url('../font/primetime.eot'),
        url('../font/primetime.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.primetime {
  font-family: 'primetime', 'sans-serif' !important;
}
